<!-- front end design inspired by: https://medium.com/@diogo.fg.pinheiro -->
<!DOCTYPE html>
<head>
<title>Todo App</title>
<link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>
<body>
    <div class="todo-container">
        <h2>To-Do List!</h2>
        <div class="todo">
            <form action="/api/todos" method="POST" class="todo-header">
                <input type="text" name="content">
                <button type="submit"><span class="fas fa-plus"></span></button>
            </form>
            <ul class="todo-list">
                <% todoItems.forEach(todo => { %>
                <li class="todo-list-item">
                    <div class="todo-list-item-name"><%= todo.content %></div>
                    <!-- <a href="api/todos/edit/<%=todo._id%>" class="edit">
                        <span class="fas fa-edit"></span>
                    </a> -->
                    <a href="/api/todos/delete/<%=todo._id%>" class="remove">
                        <span class="fas fa-times"></span>
                    </a>
                </li>
                <% }) %>
            </ul>
        </div>
    </div>
</body>