* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Photo by Patricia Abdallah on Unsplash */
	background: url(../imgs/background.jpg) no-repeat center center fixed;
	background-size: cover;
}

.todo-container {
    color: #152E19;
    position: absolute;
    top:50%;
    left: 50%;
    padding: 20px;
    width: 800px;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todo {
    width: 400px;
}

.todo-container h2 {
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2em;
}

.todo-header input {
    width: 90%;
    border: none;
    border-radius: 5px;
    height: 25px;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
}

.todo-header button {
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    background-color: #152E19;
    
}

.todo-container ul {
    list-style: none;

}

.todo-list-item {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
}

.todo-list-item form {
    width: 100%;
    display: flex;
}

.todo-list-item input {
    flex-grow: 2;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
}

.todo-list-item button {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    background-color: #152E19;
}

.todo-list-item .cancel {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(223, 43, 43);
    margin-left: 5px;
    margin-top: 2px;
}

.todo-list-item div {
    flex-grow: 2;
}

.todo-list-item .edit {
    color: #152E19;
    margin-right: 10px;
    cursor:pointer;
    text-decoration: none;
}

.todo-list-item .remove {
    color : rgb(243, 96, 96);
    margin-right: 5px;
    margin-top: 1px;
    cursor:pointer;
    text-decoration: none;
}